
body {
  margin: 0;
  min-height: 100vh;
  background-image: url("/background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
